name: Plugin publish

# This workflow is strictly manual
# https://docs.github.com/en/actions/using-workflows/manually-running-a-workflow
on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read


jobs:
  gradle:
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest

    environment:
      # This job must only run in Publishing environment. It is protected from the majority of runs, which prevents Gradle secrets leakage
      name: Publishing
      url: https://github.com/build-extensions-oss/gradle-helm-plugin/settings/environments/10298625189/edit

    steps:
      # https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle#using-the-gradle-starter-workflow
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      # https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle#using-the-gradle-starter-workflow
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/setup-java-jdk
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 17
          distribution: 'temurin'

      # https://github.com/marketplace/actions/gradle-wrapper-validation
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3.5.0

      # Optimize Gradle execution
      # https://github.com/marketplace/actions/build-with-gradle
      - name: Setup Gradle
        with:
          # disable cache for publication. We build from scratch here, so let's avoid having a theoretical vulnerability when cache entry was put in a declined PR, however reused by this build
          cache-disabled: true
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

      # Build and publish the project by simply running the command line
      - name: Publish the project
        # Several items:
        # 1. Secrets are uploaded via https://docs.github.com/en/actions/security-guides/encrypted-secrets
        #    Correct them on https://github.com/build-extensions-oss/gradle-helm-plugin/settings/environments/10298625189/edit
        #    Note!!!: these secrets must be in Publishing environment only
        # 2. We physically publish from master branch only. From other branches we can validate workflow.
        #    Please note - 'Publishing' environment is allowed to be used only in main branches, however that can be bypassed by admins (as expected) for publication testing
        # 3. We disable Gradle daemon (it doesn't make any sense), print info logs and full stacktraces on CI
        # 4. For all builds from branches we only validate that we can do so
        # 5. For version we use either branch name, either tag name - depending on the ref selected
        run: |
          ./gradlew publishPlugins \
          -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} \
          -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }} \
          -Pversion=${{ github.ref_name }} \
          --stacktrace \
          --info \
          --no-daemon \
          ${{ !startsWith(github.ref, 'refs/tags/') && '--validate-only' || '' }}